:root{
    --card-color-dial: 25;
    --title-color-dial: 30;
}
body {
    background-color: rgb(0, 0, 0);
}

/*Some major CSS structures*/

.sidebar {
    display: none;
}

.flex-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(54, 7, 7, 0.575);
}

.top-options-header {
    flex: 1 1 150px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
}

.profile-picture-header {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: not-allowed;
    border-radius: 64px;
}

.flex-container button {
    background-color: rgba(107, 94, 94, 0.411);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.container-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 4px;
}

.container-intro {
    display: grid;
    border-radius: 8px;
    background-color: rgba(7, 30, 44, 0.922);
    width: auto;
}

.flex-container-prof-github-cards {
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    /*height: 90vh;*/
    gap: 24px;
    align-items: flex-start;
}

.prof-github-cards {
    display: grid;
    flex: 1;
    width: 250px;
    height: 250px;
    padding: 12px;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    border-radius: 2px;
    /*background-color: rgba(50,50,50,.4);*/
}

.side-progress {
    flex: 0 0 10%;
    width: 120px;
    height: 100vh;
    box-sizing: border-box;
}

.main-section {
    display: flex;
    flex: 0 0 90%;
    width: 300px;
    box-sizing: border-box;
    justify-content: center;
    height: 100vh;
}

/*BORDER DECORATIONS*/

.border-deco-0 {
    border-right: 8px solid;
    border-right-color: rgba(255, 0, 0, 0.2);
}

.border-deco-4 {
    border: 8px solid;
    border-color: rgb(28, 0, 0);
}

.card-picture-prof-github {
    width: 80px;
    height: 80px;
}

/*Center Any Text For Title*/

.center-title {
    max-width: 88ch;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    
}
/* font-types */

.font-type-card1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #999;
}
.font-type-terminal-like {
    font-family: 'Courier New', Courier, monospace;
    color: #999;
}

/*Very specific appliers*/
.bold-100 {
    font-weight: 100;
}

/* ROUNDING FORMATS */
.round-border-4px {
    border-radius: 4px;
}

/* MARGIN FORMATS */
.margin-bottom-4px {
    margin: 4px;
}

/*LINEAR COLOR GRADIENTS*/
.card-color-gradient {
    background: linear-gradient(
        0deg, rgba(6, 6, 6, 1),
        rgb(var(--card-color-dial), var(--card-color-dial), var(--card-color-dial)) 10%,
        rgb(var(--card-color-dial), var(--card-color-dial), var(--card-color-dial)) 90%,
        rgba(3, 3, 3, 1));
}

.card-color-gradient:hover {
    background: linear-gradient(
        0deg, rgba(6, 6, 6, 1),
        rgb(var(--card-color-dial), var(--card-color-dial), var(--card-color-dial)) 5%,
        rgb(var(--card-color-dial), var(--card-color-dial), var(--card-color-dial)) 95%,
        rgba(3, 3, 3, 1));
}

.card-color-gradient-construction {
    background: radial-gradient(circle at 50% 42%, rgba(6, 6, 6, 1), rgb(97, 8, 8) 25%, rgba(3, 3, 3, 1) 50%);
}

.intro-color-gradient {
    background: linear-gradient(0deg, rgba(3, 3, 3, 1),rgba(30, 30, 30, 0.922) 4%, rgba(30, 30, 30, 0.922) 97%, rgba(3, 3, 3, 1));
}

.title-gradient {
    background: linear-gradient(0deg,
        rgba(6, 6, 6, 1),
        rgba(
            var(--title-color-dial),
            var(--title-color-dial),
            var(--title-color-dial), 1) 5%,
        rgba(
            var(--title-color-dial),
            var(--title-color-dial), 
            var(--title-color-dial), 1) 95%,
          rgba(3, 3, 3, 1));
}
